body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    position: relative;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

iframe {
    width: 100%;
    height: 450px; /* Adjust the height as needed */
    border: none;
    border-radius: 10px;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 36px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
