body{
	background-image:url(../img/jeringa1.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.poema{
	font-size: 10em;
	color: black;

}


.prueba {
	display: flex;
	width: 720px;
	height: 1080px;
	background-color: black;
	margin-left: auto;  /* Empuja el div a la derecha */
	color: whitesmoke;
}


